<ul>
<% @users.each do |user| %>
	<% unless user.first_name.nil? %>
		<% unless user.last_name.nil? %>
			<li><%= user.first_name  + ' ' + user.last_name %></li>
		<% end %>
	<% end %>			
<% end %>
</ul>